/*------------------------------------
* La feuille de style du système de gestion de données naturalistes epitheca
*------------------------------------
*/

/*Corps de la page*/
body {
font-family:Arial;
}

/*Div de 100% */
.bloc-100pc{
padding-top:8px;
margin-top:8px;
padding-bottom:8px;
padding-left:8px;
padding-right:8px;
margin-left:auto;
margin-right:auto;
overflow: hidden;
width:100%;
font-size:1vw;
}

/*Div de 50% */
.bloc-50pc-gauche{
margin-right:0.5%;
padding:0.5%;
width:47%;
float:left;
text-align:left;
font-size:1vw;
}

/*Div de 50% */
.bloc-50pc-gauche-centre{
margin-right:0.5%;
padding:0.5%;
width:47%;
float:left;
text-align:center;
font-size:1vw;
}

/*Div de 50% */
.bloc-50pc-droit{
margin-left:0.5%;
padding:0.5%;
overflow:auto;
width:47%;
float:left;
text-align:left;
font-size:1vw;
}

/*Div de 50% */
.bloc-50pc-droit-centre{
margin-left:0.5%;
padding:0.5%;
overflow:auto;
width:47%;
float:left;
text-align:center;
font-size:1vw;
}

/*Div de 75% */
.bloc-75pc-gauche{
margin-right:0.5%;
padding:0.5%;
width:73%;
float:left;
text-align:left;
font-size:1vw;
}

/*Div de 25% */
.bloc-25pc-droit{
margin-right:0.5%;
padding:0.5%;
width:23%;
float:right;
background-color:#E57036;
text-align:left;
font-size:1vw;
}

.tresgros
{
font-size:4vw; ;
}

/*Titres*/
.titre{
width:100%;
font-size:2vw;
text-align:center;
display:inline-block;
color:#4F6457;
padding-bottom:8px;
}

/*Titres*/
.titre-connexion{
width:100%;
font-size:2vw;
text-align:center;
display:inline-block;
color:#4F6457;
padding-bottom:8px;
padding-top:20%;
}

.sous-titre
{
font-size:1.7vw;
}

.img_entete{
width:20%;
}

.text_entete{
font-size:1.5vw;
}

.img_logo{
width:20%;
}

.text_logo{
font-size:1.5vw;
}

/*Div bandeau observateurs*/
.entete-1{
width:33%;
text-align:center;
float:left;
padding-top:8px;
}

/*Div bandeau observateurs*/
.entete-2{
font-size:2.2vw;
float:left;
width:33%;
padding-top:8px;
padding-bottom:8px;
text-align:center;
}

.entete-3{
font-size:2.2vw;
float:left;
width:33%;
padding-top:8px;
padding-bottom:8px;
text-align:center;
}

.pied-gauche{
font-size:1.5vw;
padding-bottom:8px;
width:50%;
float:left;
text-align:center;
}

.pied-droit{
font-size:1.5vw;
padding-bottom:8px;
width:50%;
text-align:center;
float:right;
}

.pied-100pc {
font-size:1.2vw;
padding-bottom:8px;
width:100%;
text-align:center;
}

/*input de connexion*/
.session{
 width:90%;
 font-size:2vw;
 display:block;
 margin:auto;
 background-color:transparent;
 border-color:transparent transparent black transparent;
}

/*submits*/
.vert{
background-color:#4f9242;
color:white;
font-size:1.7vw;
}

/*Div contenant gauche et droit */
.demi-gauche{
width:50%;
float:left;
}

.demi-droit{
width:50%;
float:right;
}

/*Page de connexion*/
.connexion-gauche{
    width: 50%;
    float:left;
	overflow:hidden;
	text-align:center;
 }
 
 /*Page de connexion*/
.connexion-droit{
    width: 50%;
    float:right;
	overflow:hidden;
	text-align:center;
 }

 /*Page de connexion*/
.connexion-charte{
    width: 50%;
    float:right;
	overflow:hidden;
	text-align:justify;
 }

.connexion-texte{
font-size:1.2vw;
text-align:justify;
}

input {
  font-size:1.5vw;
  font-family:arial;
  padding-left:5px;
  margin-top:10px;
  margin-bottom:5px;
}

select {
  font-size:1vw;
  font-family:arial;
  padding-left:5px;
  margin-top:10px;
  margin-bottom:5px;
}

label {
 font-size:1.5vw;
  font-family:arial;
  padding-left:5px;
  margin-top:10px;
  margin-bottom:5px;
}

.tableau-donnees-1{
float:left;
width:33%;
padding-top:2px;
font-size:1vw;
overflow:hidden;
}

.tableau-donnees-2{
float:left;
width:5%;
padding-top:2px;
font-size:1vw;
overflow:hidden;
}

.tableau-donnees-3{
float:left;
width:10%;
padding-top:2px;
font-size:1vw;
}

.tableau-donnees-4{
float:left;
width:10%;
padding-top:2px;
font-size:1vw;
}

.tableau-donnees-5{
float:left;
width:10%;
padding-top:2px;
font-size:1vw;
}

.tableau-donnees-6{
float:left;
width:10%;
padding-top:2px;
font-size:1vw;
}

.tableau-donnees-7{
float:left;
width:10%;
padding-top:2px;
font-size:1vw;
}

.tableau-donnees-8{
width:45px;
float:5%;
padding-top:2px;
font-size:1vw;
text-align:right;
}

/*Div avertissement */
.bloc-avertissement{
background-color:#ffc83c;
margin-bottom:8px;
padding:8px;
text-align:center;
width:100%;
font-size:20px;
}
