/*------------------------------------
* La feuille de style du système de gestion de données naturalistes epitheca
*------------------------------------
*/

/*Corps de la page*/
body {
font-family:Arial;
margin:0px;
}

/*Div de 100% */
.bloc-100pc{
margin-top:8px;
margin-left:0.5%;
padding:0.5%;
overflow: hidden;
width:95%;
font-size:4vw;
text-align:justify;
}

/*Div de 50% */
.bloc-50pc-gauche{
padding:3px;
width:95%;
font-size:4.5vw;
text-align : center;
}

/*Div de 50% */
.bloc-50pc-gauche-centre{
margin-right:0.5%;
padding:0.5%;
width:47%;
float:left;
text-align:center;
font-size:3vw;
}

/*Div de 50% */
.bloc-50pc-droit-centre{
margin-left:0.5%;
padding:0.5%;
overflow:auto;
width:47%;
float:left;
text-align:center;
font-size:1.5vw;
}


/*Div de 50% */
.bloc-50pc-droit{
padding:3px;
width:95%;
text-align : left;
}

/*Div de 50% */
.bloc-50pc-droit-centre{
margin-left:0.5%;
padding:0.5%;
overflow:auto;
width:47%;
float:left;
text-align:center;
font-size:3vw;
}

/*Div de 75% */
.bloc-75pc-gauche{
margin-right:0.5%;
padding:0.5%;
width:100%;
text-align:center;
font-size:1.5vw;
}

/*Div de 25% */
.bloc-25pc-droit{
margin-right:0.5%;
padding:0.5%;
width:100%;
background-color:#E57036;
text-align:center;
font-size:4vw;
}

.tresgros
{
font-size:10vw; ;
}

/*Titres*/
.titre{
font-size:7vw;
text-align:center;
display:inline-block;
color:#4F6457;
padding-bottom:8px;
padding-top:10%;
}

/*Titres*/
.titre-connexion{
width:100%;
font-size:5vw;
text-align:center;
display:inline-block;
color:#4F6457;
padding-bottom:8px;
}

.sous-titre
{
font-size:5vw ;
text-align:left;
}

.img_entete{
width:30%;
}

.text_entete{
}

.img_logo{
width:30%;
}

.text_logo{
}

/*Div bandeau observateurs*/
.entete-1{
padding-top:1%;
width:33%;
text-align:center;
float:left;
}

/*Div bandeau observateurs*/
.entete-2{
padding-top:1%;
width:33%;
text-align:center;
float:left;
}

.entete-3{
padding-top:1%;
width:33%;
text-align:center;
float:left;
}

.pied-gauche{
font-size:3vw;
padding-bottom:8px;
width:50%;
float:left;
text-align:center;
}

.pied-droit{
font-size:3vw;
padding-bottom:8px;
width:50%;
text-align:center;
float:right;
}

.pied-100pc {
font-size:2.5vw;
padding-bottom:8px;
width:100%;
text-align:center;
}

/*input de connexion*/
.session{
 width:90%;
 font-size:6vw;
 display:block;
 margin:auto;
 background-color:transparent;
 border-color:transparent transparent black transparent;
}

/*submits*/
.vert{
background-color:#4f9242;
color:white;
font-size:6vw;
}

/*Div contenant gauche et droit */
.demi-gauche{
width:100%;
text-align:center;
height:auto;
overflow:auto;
float:left;
}

.demi-droit{
width:100%;
text-align:center;
overflow:auto;
float:right;
}


/*submits*/
.vert_petit{
background-color:#4f9242;
color:white;
font-size:3vw;
}

/*Page de connexion*/
.connexion-gauche{
    width: 50%;
    height:30%;
    margin:auto;
	overflow:hidden;
	text-align:center;
	padding-top:3%;
 }
 
 /*Page de connexion*/
.connexion-droit{
    width: 100%;    
    margin:auto;
	overflow:hidden;
	text-align:center;
	font-size:5vw;
 }
 
 .connexion-texte{
font-size:4vw;
text-align:justify;
    margin:5%;
}

 input {
  font-size:5vw;
  font-family:arial;
  padding-left:5px;
  margin-top:10px;
  margin-bottom:5px;
}

select {
  font-size:5vw;
  font-family:arial;
  padding-left:5px;
  margin-top:10px;
  margin-bottom:5px;
}

label {
 font-size:3vw;
  font-family:arial;
  padding-left:5px;
  margin-top:10px;
  margin-bottom:5px;
}

submit{
font-size:4vw;
}

.tableau-donnees-1{
float:left;
width:55%;
padding-top:2px;
font-size:4vw;
overflow:hidden;
border-width:1px 0px 0px 0px;
border-style:dashed;
border-color:black;
}

.tableau-donnees-2{
display : none;
}

.tableau-donnees-3{
display : none;
}

.tableau-donnees-4{
display : none;
}

.tableau-donnees-5{
display : none;
}

.tableau-donnees-6{
float:left;
width:20%;
padding-top:2px;
font-size:3vw;
border-width:1px 0px 0px 0px;
border-style:dashed;
border-color:black;
}

.tableau-donnees-7{
float:left;
width:20%;
padding-top:2px;
font-size:3vw;
border-width:1px 0px 0px 0px;
border-style:dashed;
border-color:black;
}

.tableau-donnees-8{
display : none;
}

/*Div avertissement */
.bloc-avertissement{
background-color:#ffc83c;
margin-bottom:8px;
text-align:center;
width:100%;
font-size:4vw;
}
